html {
  font-family: "Nunito", sans-serif;
}

body {
  background-color: #0c1821;
  color: #FFF;;
}

.boards {
  display: flex;
  margin: 0 auto;
}

.board {
  border: 1px solid #FD951F11;
  background: #1b2a41;
  border-radius: 8px;
  margin: 0 15px;
  margin-top: 32px;
}

.board h3 {
  padding: 16px;
  color: #f77f00;
}

.dropzone {
  padding: 16px;
  min-width: 280px;
  min-height: 200px;
  /* box-shadow: 0 2px 2px -1px #f77f00; */
}

.card {
  padding: 16px;
  width: 250px;
  margin: 25px 0;
  border-radius: 4px;
  font-weight: 600;
  font-size: 18px;
  box-shadow: 0 2px 2px -1px #f77f00cc;
  background: #1A1A1C;
}

.status {
  width: 30px;
  height: 8px;
  margin-bottom: 16px;
  border-radius: 8px;
}

.status.green {
   background: greenyellow;
}
.status.blue {
  background: #3a86ff;
}
.status.red {
  background: #8338ec;
}

.highlight {
  background-color: #FD951F55;
}

.card, .dropzone {
  transition: 400ms;
}

.is-dragging {
  cursor: move;
  opacity: 0.3;
}

.over {
  background-color: #4cd13711;
}